# {{ generated_tag }}

#
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="38:c9:86:40:22:0d", NAME="net0"
# wifi
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="ac:bc:32:d5:db:35", NAME="wireless"
# ethernet
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="b2:47:02:63:f8:c8", NAME="thunderbolt"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:0e:c6:fe:5a:0c", NAME="aukey"
