# {{ generated_tag }}

[Unit]
Description=Lock screen on suspend
Before=sleep.target

[Service]
User={{ username }}
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/lock

[Install]
WantedBy=sleep.target
